.container {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  height: 110px;
  margin-left: 10px;
  background-image: url("../img/logo1.jpg");
  background-size: cover;
}

.fotos img {
width: 150px;
height: 150px;    
}